:root {
    --font-body: "Inter";
    --color-blue-900: rgb(25, 25, 121);
    --spacing-1: 10px;
    --spacing-2: 20px;
    --radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body), sans-serif;
}

body {
    color: var(--color-blue-900);
}

h2 {
    text-align: center;
    margin-block: var(--spacing-2);
}

form {
    width: 90%;
    margin: var(--spacing-1) auto;
}

fieldset {
    padding: var(--spacing-1);
    border-radius: var(--radius);
    margin: 20px 0;
}

legend {
    padding: 0 var(--radius);
    font-weight: 900;
}

button {
    padding: 3px;
}